<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test name="Commands test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SeleniumTests.CommandsTest"/>
        </classes>
    </test> <!-- Test -->

    <test name="SeleniumTests.Day4">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SeleniumTests.Day4"/>
        </classes>
    </test> <!-- Test -->

    <test name="SeleniumTests.Task2">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SeleniumTests.Task2"/>
        </classes>
    </test> <!-- Test -->

    <test name="SeleniumTests.Task3">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SeleniumTests.Task3"/>
        </classes>
    </test> <!-- Test -->
    <test name="SeleniumTests.Task4">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SeleniumTests.Task4"/>
        </classes>
    </test> <!-- Test -->

    <test name="SeleniumTests.WaitsTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SeleniumTests.WaitsTest"/>
        </classes>
    </test> <!-- Test -->

    <test name="SeleniumTests.WebFormsTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SeleniumTests.WebFormsTest"/>
        </classes>
    </test> <!-- Test -->

    <test name="SelenideTests.FirstSelenideTests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SelenideTests.FirstSelenideTests"/>
        </classes>
    </test> <!-- Test -->

    <test name="SelenideTests.GoogleSerchTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SelenideTests.GoogleSerchTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="SelenideTests.ToolTipsTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SelenideTests.ToolTipsTest"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->